var authCodeConfig = {
    client_id: 'spa-heroes',
    redirect_uri: 'https://localhost',
    scope: 'openid heroes',
    response_type: 'code'
};

var authTokenConfig = {
    client_id: 'spa-heroes',
    redirect_uri: 'https://localhost',
    grant_type: 'authorization_code',
};

var urlConfig = {
    auth_url: 'http://localhost:9000/auth/realms/heroes/protocol/openid-connect/auth',
    token_url: 'http://localhost:9000/auth/realms/heroes/protocol/openid-connect/token',
    heroes_url: 'http://localhost:10001/api/heroes',
};