var clientId = 'heroes-client';
var redirectUri = 'https://localhost';

var authCodeConfig = {
    client_id: clientId,
    redirect_uri: redirectUri,
    scope: 'openid heroes',
    response_type: 'code'
};

var authTokenConfig = {
    client_id: clientId,
    redirect_uri: redirectUri,
    grant_type: 'authorization_code',
};

var urlConfig = {
    auth_url: 'http://localhost:9000/auth/realms/heroes/protocol/openid-connect/auth',
    token_url: 'http://localhost:9000/auth/realms/heroes/protocol/openid-connect/token',
    heroes_url: 'http://localhost:10001/api/heroes',
};

var refreshConfig = {
    client_id: clientId,
    grant_type: 'refresh_token'
}